.img-wrapper {
    position: relative;
    display: inline-block;
}

.programa-img {
    width: 100%;
    height: auto;
    display: block;
}

.logo-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: auto;
    opacity: 0.8;
}

.placeholder-img {
    filter: none;
    /* u otros estilos que quieras aplicar */
}